#topNavBar {
	background-color: #333;	
	color:#ddd;
	position: relative;
	padding: 10px;
}

#topNavBar.min {
	min-height: 1px;
	max-height: 1px;
}


#topNavBar .optContent {
	display:none;	
}

table.optContent {
	width:90%;
}

div.select2-container,ul.select2-choices {
	width:100% !important;
}

#topNavBar>#pullHandle {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	left: 80%;
	height: 20px;
	position: absolute;
	bottom:-24px;
	padding-top: 5px;
	background-color: #333;
	text-align: center;
	font-family: helvetica;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	padding-bottom: 5px;
}